<include file="Index/head"/>
<!--你自己的样式文件 -->
<css href="__PUBLIC__/admin/css/style.css" />
<section class="container">
    <h2>货源分类-添加分类</h2>
    <p><a href="javascript:history.go(-1);" class="btn btn-sm btn-info">返回</a></p>
    <div class="col-lg-6">

        <form class="form-horizontal" id="singcms-form">
            <div class="form-group">
                <label for="inputname" class="col-sm-2 control-label">类别名称:</label>
                <div class="col-sm-5">
                    <input type="text" name="typeName" class="form-control" id="inputname" placeholder="请输入类别名称">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
                </div>
            </div>
        </form>

    </div>

</section>
<script>
    var SCOPE = {
        'save_url' : '/dswiliu/admin.php?c=LogisticsType&a=add',
        'jump_url' : '/dswiliu/admin.php?c=LogisticsType',
    }
</script>
<include file="Index/foot"/>

