<include file="Index/head"/>
<!--你自己的样式文件 -->
<css href="__PUBLIC__/admin/css/style.css" />
<?php
$LogisticsTypes = D('LogisticsType')->getSelectLogisticsType()
?>
<section class="container">
    <h2>货源信息-添加信息</h2>
    <p><a href="javascript:history.go(-1);" class="btn btn-sm btn-info">返回</a></p>
    <div class="col-lg-6">

        <form class="form-horizontal" id="singcms-form">
            <div class="form-group">
                <label class="col-sm-2 control-label">货物类别:</label>
                <div class="col-sm-5">
                    <select class="form-control" name="typeId">
                        <option value="">请选择货物类别</option>
                        <foreach name="LogisticsTypes" item="LogisticsType">
                            <option value="{$LogisticsType.Id}">{$LogisticsType.typeName}</option>
                        </foreach>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">发布人:</label>
                <div class="col-sm-8">
                    <input type="text" name="release" class="form-control" placeholder="请输入发布人">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">货物名称:</label>
                <div class="col-sm-5">
                    <input type="text" name="goodsName" class="form-control" placeholder="请输入货物名称">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">装货地:</label>
                <div class="col-sm-5">
                    <input type="text" name="loadingAddr" class="form-control" placeholder="请输入装货地">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">卸货地:</label>
                <div class="col-sm-5">
                    <input type="text" name="unloadingAddr" class="form-control" placeholder="请输入卸货地">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">价钱:</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" name="Price" class="form-control" placeholder="请输入数字">
                        <span class="input-group-addon">元/吨</span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">剩余量:</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text"  name="surplus"class="form-control" placeholder="请输入数字">
                        <span class="input-group-addon">吨</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">允亏比例:</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" name="allowProportion" class="form-control" placeholder="0.0028">
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">亏扣单价:</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" name="lackPrice" class="form-control" placeholder="请输入数字">
                        <span class="input-group-addon">元/吨</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">支付方式:</label>
                <div class="col-sm-5">
                    <select class="form-control" name="payWay">
                        <option value="">请选择支付方式</option>
                        <option value="1">货到付款</option>
                        <option value="2">发货付款</option>
                        <option value="3">发货定金-货到结款</option>
						<option value="4">回单结算</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
                </div>
            </div>
        </form>

    </div>

</section>
<script>
    var SCOPE = {
        'save_url' : '/dswiliu/admin.php?c=Logistics&a=add',
        'jump_url' : '/dswiliu/admin.php?c=Logistics',
    }
</script>
<include file="Index/foot"/>
