<include file="Index/head" />
<header class="top_white top_blue_goBack" onclick="javascript:history.go(-1);">银行信息</header>
<section class="user_form">

<!--    <div class="user_submit_hint hint_wrong">注册失败，请完善详细信息</div>-->
<!--    <div class="user_submit_hint hint_error">注册成功，请完善详细信息</div>-->
    <form name="register" method="post" id="register-form">
        <ul class="user_form_group">
            <li>
                <span>银 行 卡</span>
                <span><input type="number" name="bankCard" placeholder="输入银行卡号" value="{$UserMobileNo.bankCard}"></span>
            </li>
            <li>
                <span>银 行 户 名</span>
                <span><input type="text" name="bankName" placeholder="输入银行户名" value="{$UserMobileNo.bankName}"></span>
            </li>
            <li>
                <span>开 户 行</span>
                <span><input type="text" name="bankOpen" placeholder="输入开户行" value="{$UserMobileNo.bankOpen}"></span>
            </li>
        </ul>
        <input type="hidden" name="registerType" value="bank">
        <div class="user_form_button">
            <button type="button" id="register-submit">提交银行信息</button>
        </div>
    </form>
</section>
<script>
    var SCOPE = {
        'save_url' : '/dswiliu/index.php?c=user&a=registerBank',
        'jump_url' : '/dswiliu/index.php?c=user&a=datum',
    }
</script>
<include file="Index/foot" />


