<include file="Index/head"/>

<div class="row login">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal" role="form" method="post">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
                <div class="col-sm-10">
                    <input name="admin_login_name" type="text" class="form-control" id="inputEmail3" placeholder="请输入管理员账号">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input name="admin_password" type="password" class="form-control" id="inputPassword3" placeholder="请输入管理员密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success col-sm-5" onclick="login.check()">登陆</button>
                </div>
            </div>
        </form>
    </div>
</div>
<include file="Index/foot"/>
<js href="__PUBLIC__/admin/js/login.js" />